.App {
  text-align: center;
}

#form-locate > *{
  display: inline-block;
  margin-left: 30px;
}

.error{
  box-shadow: 0 0 5px red;
}

#conteiner-clocks{
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 50px;
  box-sizing: border-box;
}

.clock-circle{
  margin: 20px;
  padding: 5%;
  box-sizing: border-box;
  width: 90%;
  aspect-ratio: 1/1;
  border-radius: 500px;
  border: 1px solid black;
  position: relative;
}

.button-delete-clock{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: palevioletred;
  border: 1px solid red;
  top: calc(14.6% - 15px);
  right: calc(14.6% - 15px);
  box-sizing: border-box;
  transition: 1s transform;
}

.button-delete-clock:hover{
  background-color: red;
  border: 5px solid palevioletred;
  line-height: 14px;
  transform: rotate(180deg);
  transition: 1s;
}

.arrow-time{
  position: absolute;
  transform-origin: bottom;
  width: 1px;
  background-color: black;
  right: 50%;
  bottom: 50%;
}

.hour-time{
  height: 30%;
}

.minutes-time{
  height: 45%;
}

.seconds-time{
  height: 50%;
}